
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .introduction .intro-left-side h1 span{
    
    color: #FF8A56;
    ;
  }
  .introduction .intro-left-side h1{
    font-size: 37px;
    margin-top: 42px;
  }




header{
justify-content: space-between;
display: flex;
align-items: center;
margin-top: 40px;


}
.book-a-call{
  margin-right: 10px;
}
a{
  margin-left: 10px;
  color: black;
text-decoration: none;
}


.intro-right-side{
  width: 300px;
  margin-top: 20px;
}
.intro-right-side img{
  width: 100%;
}
.introduction .intro-left-side p{
  color:  #666666;
  font-size: 18px;
  
}
.intro-left-side .book-a-call {
  background-color: #000;
  color: white;
  width: 151px;
  height: 58px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  margin-top: 45px;
  margin-left: 0;
}
.cv{
  margin-left: 20px;
  color: #000;
}
.arrow{
  margin-left: 5px;

  
}
.shirketler h5{
  text-align: center;
  margin-bottom: 30px;
}
.partnyorlar{
  display: flex;
 justify-content: space-around;
}
.shirket1{
  display: none;
}
.shirket2{
  display: none;
}
/* 1 ci mobil */
header nav{
  display: none;
}
.section{
  text-align: center;
  margin-top: 70px;
}
.section h5{
  color:  #FF5E69;
  ;
}
.card img{
  width: 70px;
}
.services-cards{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(306px, 1fr)) ;
 margin-top: 70px;

}
.projects h5 {
  color:  #B16CEA;
  margin-top: 100px;
}
.Wiew-all-projects{
  background-color: #000;
  color: white;
  width: 151px;
  height: 58px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  margin-top: 45px;
  border: 0px;
 
}
.projects h1 {
  display: flex;
  
}
.projects a{
 display: inline-flex;
}
.pictures{
  margin-top: 70px;
}
.pictures-down h5{
  margin-top: 35px;
  color:  #3C46FF;
}
.pictures-down h3{
  margin-top: 50px;
  color: #000
}
.pictures-down p{
  margin-top: 50px;
  font-size: 18px;

}
.arrow-projects{
  padding-left:  15px !important;
}


@media(min-width:320px) {
  .services-services .section {
    margin-left: 30px;
  }
  
}

@media(min-width:768px){
  .fa-bars{
    display: none !important;
  }
  header nav{
    display: flex;
    gap: 3px;
    align-items: center;
  }
  .introduction{
    display: flex;
    justify-content: space-between;
  }
.intro-right-side{
  width: 400px;
}
.introduction .intro-left-side h1{
  font-size: 3rem;
}
.shirket1{
  display: flex;
}
.shirket2{
  display: flex;
}

.Wiew-all-projects{
  margin-left: 1104px;
  margin-right: 105px;
  
}


 
}
@media(min-width:992px){
.introduction .intro-left-side h1{
  font-size: 4.5rem;
}
.services-cards{
  margin-right: 100px;
  margin-left: 171px;
}

}


